.projects-page {
  margin-left: 80px;
  height: 100vh;
  overflow-y: scroll;
  .projects-heading {
    color: #1d1d2c;
    font-size: 30px;
    text-align: center;
  }
  .project-card-container {
    font-family: "roboto";
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .project-card {
      box-shadow: 0px 0px 10px rgba(25, 25, 25, 0.1);

      background-color: #f3f2f2;
      border-radius: 10px;
      padding: 10px;
      width: 350px;
      height: 350px;
      margin: 10px;
      .project-card-img {
        width: 100%;
        height: 50%;
        object-fit: cover;
      }
      .project-card-heading {
        color: #1d1d2c;
        font-family: "Open Sans", sans-serif;
      }
      .project-card-skills {
        color: #1d1d2c;
        font-family: "Open Sans", sans-serif;
      }
      .project-card-description {
        color: #1d1d2c;
        font-family: "Open Sans", sans-serif;
      }
      .project-link-icon {
        font-size: 20px;
        margin: 10px;
        color: #1d1d2c;
      }
    }
  }
}
