.about-page {
  display: flex;
  padding: 3px;
  margin-top: 20px;
  overflow-y: scroll;
}
.about-container {
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  margin-left: 100px;
  width: 60%;
  overflow-y: visible;
}
.about-container-heading {
  margin-top: 0px;
  color: #1d1d2c;
  font-size: 30px;
}
.about-container-resume-link {
  display: flex;
  align-items: center;
}
.about-container-resume-link-description {
  font-size: 18px;
  margin-right: 5px;
  font-weight: 600;
}
.about-container-resume-link-icon {
  color: #1d1d2c;
}
.about-container-description {
  color: #1d1d2c;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 0;
}
.skill-icon {
  width: 70px;
  height: 70px;
}
.skill-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.skill-container {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 40%;
}

.skill-label {
  color: #1d1d2c;
}
